<!DOCTYPE html>
<html lang="zh-CN">
<head>
{{template "widgets/head.html" .}}
<!-- <link rel="stylesheet" href="/static/price/index.69c8dd3e.css"> -->
<link rel="stylesheet" href="/static/static/index.3b13fe6e.css">
<link rel="stylesheet" href="/static/static/price.css">

<!-- <script type="module" crossorigin="" src="/static/price/index.d7ac46fa.js"></script> -->
<!-- <script src="/static/price/hm.js"></script> -->

</head>
<body>
<div class="manual-reader manual-container manual-search-reader">
    {{template "widgets/header.html" .}}
    <div class="">
        <div id="app" data-v-app="">
            <div class="flex flex-col min-h-screen overflow-hidden">
      
              <main class="flex-grow">
                <section class="bg-gradient-to-b from-white to-gray-100">
                  <div class="max-w-6xl mx-auto px-4 sm:px-6">
                    <div class="pt-32 pb-12 md:pt-40 md:pb-20">
                      <div class="max-w-3xl mx-auto text-center pb-12">
                        <h1 class="h1 mb-4 aos-init aos-animate" data-aos="zoom-y-out">产品定价</h1>
                        <p class="text-xl text-gray-600 aos-init aos-animate" data-aos="zoom-y-out" data-aos-delay="150"> 以下为
                          IceCMS 的定价，您可以根据您的需求自行选择。 </p>
                      </div>
                      <div>
                        <div
                          class="max-w-sm md:max-w-2xl xl:max-w-none mx-auto gap-8 grid md:grid-cols-1 xl:grid-cols-3 xl:gap-6 items-start">
                          <div class="relative flex flex-col h-full py-5 px-6 rounded bg-white shadow-xl aos-init aos-animate"
                            data-aos="zoom-y-out" data-aos-delay="450">
                            <div class="mb-4">
                              <div class="text-lg font-bold mb-1">社区版</div>
                              <div class="inline-flex items-baseline mb-2"><span class="text-3xl font-bold">￥</span><span
                                  class="text-4xl font-bold">0</span><span class="text-gray-600 pl-2">/免费</span></div>
                              <div class="text-base text-gray-500">适合个人轻度使用</div>
                            </div>
                            <ul class="text-gray-600 -mb-2 flex-grow">
                              <li class="flex items-center mb-2"><svg
                                  class="w-3 h-3 fill-current text-green-500 mr-3 flex-shrink-0" viewBox="0 0 12 12"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z">
                                  </path>
                                </svg><span>在线预览</span></li>
                           
                            
                              <li class="flex items-center mb-2"><svg
                                  class="w-3 h-3 fill-current text-green-500 mr-3 flex-shrink-0" viewBox="0 0 12 12"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z">
                                  </path>
                                </svg><span>简易权限控制</span></li>
                              <li class="flex items-center mb-2"><svg
                                  class="w-3 h-3 fill-current text-green-500 mr-3 flex-shrink-0" viewBox="0 0 12 12"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z">
                                  </path>
                                </svg><span>所有基础功能</span></li>
                              <li class="flex items-center mb-2"><svg
                                  class="w-3 h-3 fill-current text-green-500 mr-3 flex-shrink-0" viewBox="0 0 12 12"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z">
                                  </path>
                                </svg><span>定期更新中...</span></li>
                            </ul>
                            <div class="border-t border-gray-200 pt-5 mt-6"><a
                                class="btn-sm text-white bg-blue-600 hover:bg-blue-700 w-full" target="_blank"
                                href="https://docs.IceCMS.vip/" style="outline: none;">查看部署文档</a></div>
                          </div>
                          <div
                            class="relative flex flex-col h-full py-5 px-6 rounded bg-blue-100 shadow-xl border-2 border-blue-500 aos-init aos-animate"
                            data-aos="zoom-y-out" data-aos-delay="450">
                            <div class="absolute top-0 right-0 mr-5 p-3 -mt-5 bg-yellow-500 rounded-full"><svg
                                class="w-4 h-4 fill-current text-white" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M15.145 5.05l-4.316-.627L8.898.513c-.338-.684-1.456-.684-1.794 0l-1.93 3.91-4.317.627a1.002 1.002 0 00-.554 1.707l3.124 3.044-.737 4.3a1 1 0 001.45 1.053L8 13.125l3.862 2.03c.728.381 1.59-.234 1.45-1.054l-.736-4.299L15.7 6.758a1.003 1.003 0 00-.555-1.708z">
                                </path>
                              </svg></div>
                            <div class="mb-4">
                              <div class="text-lg font-bold mb-1">捐赠版</div>
                              <div class="inline-flex items-baseline mb-2"><span class="text-3xl font-bold">￥</span><span
                                  class="text-4xl font-bold">199</span><span class="text-gray-600 pl-2">/根域名（限时特价）</span></div>
                              <div class="text-base text-gray-500">适合个人轻度使用</div>
                            </div>
                            <ul class="text-gray-600 -mb-2 flex-grow">
                              <li class="flex items-center mb-2"><svg
                                  class="w-3 h-3 fill-current text-green-500 mr-3 flex-shrink-0" viewBox="0 0 12 12"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z">
                                  </path>
                                </svg><span>社区版所有功能</span></li>
                              <li class="flex items-center mb-2"><svg
                                  class="w-3 h-3 fill-current text-green-500 mr-3 flex-shrink-0" viewBox="0 0 12 12"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z">
                                  </path>
                                </svg><span>细致权限控制</span></li>
                              <li class="flex items-center mb-2"><svg
                                  class="w-3 h-3 fill-current text-green-500 mr-3 flex-shrink-0" viewBox="0 0 12 12"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z">
                                  </path>
                                </svg><span>直链下载统计分析</span></li>
                              <li class="flex items-center mb-2"><svg
                                  class="w-3 h-3 fill-current text-green-500 mr-3 flex-shrink-0" viewBox="0 0 12 12"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z">
                                  </path>
                                </svg><span>本地、腾讯云、阿里云限速下载</span></li>
                             
                              <li class="flex items-center mb-2"><svg
                                  class="w-3 h-3 fill-current text-green-500 mr-3 flex-shrink-0" viewBox="0 0 12 12"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z">
                                  </path>
                                </svg><span>打包下载</span></li>
                            
                              <li class="flex items-center mb-2"><svg
                                  class="w-3 h-3 fill-current text-green-500 mr-3 flex-shrink-0" viewBox="0 0 12 12"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z">
                                  </path>
                                </svg><span>持续更新中...</span></li>
                            </ul>
                            <div class="border-t border-gray-200 pt-5 mt-6"><a href="https://www.IceCMS.vip/signup"
                                class="btn-sm text-white bg-blue-600 hover:bg-blue-700 w-full" style="outline: none;">立即购买</a>
                            </div>
                          </div>
                          <div class="relative flex flex-col h-full py-5 px-6 rounded bg-white shadow-xl aos-init aos-animate"
                            data-aos="zoom-y-out" data-aos-delay="450">
                            <div class="mb-4">
                              <div class="text-lg font-bold mb-1">定制版</div>
                              <div class="inline-flex items-baseline mb-2"><span class="text-3xl font-bold">￥</span><span
                                  class="text-4xl font-bold">详询</span><span class="text-gray-600 pl-2"></span></div>
                              <div class="text-base text-gray-500">适合有特殊需求的用户</div>
                            </div>
                            <ul class="text-gray-600 -mb-2 flex-grow">
                              <li class="flex items-center mb-2"><svg
                                  class="w-3 h-3 fill-current text-green-500 mr-3 flex-shrink-0" viewBox="0 0 12 12"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z">
                                  </path>
                                </svg><span>基于捐赠版所有功能</span></li>
                              <li class="flex items-center mb-2"><svg
                                  class="w-3 h-3 fill-current text-green-500 mr-3 flex-shrink-0" viewBox="0 0 12 12"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z">
                                  </path>
                                </svg><span>支持随主版本升级</span></li>
                              <li class="flex items-center mb-2"><svg
                                  class="w-3 h-3 fill-current text-green-500 mr-3 flex-shrink-0" viewBox="0 0 12 12"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z">
                                  </path>
                                </svg><span>定制化服务</span></li>
                            </ul>
                            <div class="border-t border-gray-200 pt-5 mt-6"><a target="_blank"
                                class="btn-sm text-white bg-blue-600 hover:bg-blue-700 w-full"
                                href="https://wpa.qq.com/msgrd?v=3&amp;uin=873019219&amp;site=qq&amp;menu=yes&amp;jumpflag=1"
                                style="outline: none;">联系作者</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
            
              <!-- 内容 -->
              <main class="main-content">
                  <!-- IceCMS想对您说 -->
                
                  <!-- IceCMS特征 -->
                  <div style="background:url(/templates/dockers/NewIceCMS/images/price-bg02.png) no-repeat top right;background-size:cover;">
                      <div class="container jp-pt-5 jp-pb-5">
                          <div class="text-center  jp-pb-5">
                              <h2 class="jp-title">IceCMS 特征</h2>
                          </div>
                          <div class="jp-features-container jp-pb-5">
                              <div class="row1">
                                  <div class="col">
                                      <div class="jp-features-item">
                                          <img src="/static/static/vector1.png" alt="" class="img-fluid jp-mb-4">
                                          <h6>自主研发</h6>
                                      </div>
                                  </div>
                                  <div class="col">
                                      <div class="jp-features-item">
                                          <img src="/static/static/vector3.png" alt="" class="img-fluid jp-mb-4">
                                          <h6>国产信创</h6>
                                      </div>
                                  </div>
                                  <div class="col">
                                      <div class="jp-features-item">
                                          <img src="/static/static/vector4.png" alt="" class="img-fluid jp-mb-4">
                                          <h6>等保测评</h6>
                                      </div>
                                  </div>
                                  <div class="col">
                                      <div class="jp-features-item">
                                          <img src="/static/static/vector5.png" alt="" class="img-fluid jp-mb-4">
                                          <h6>安全稳定</h6>
                                      </div>
                                  </div>
                                  <div class="col">
                                      <div class="jp-features-item">
                                          <img src="/static/static/vector2.png" alt="" class="img-fluid jp-mb-4">
                                          <h6>正版授权</h6>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- 版本&服务 -->
                  <div class="bg-white jp-bottom-back" style="background: url(/templates/dockers/NewIceCMS/images/footer-left.png) no-repeat top left;background-size: 55%;">
                      <div class="containe maxwidth jp-pt-5 jp-pb-5">
                          <div class="text-center  jp-pb-5">
                              <h2 class="jp-title mb-3">版本&amp;服务</h2>
                          </div>
                          <div>
                              <table class="table table-bordered text-center table-responsive table-hover">
                                  <thead style="background-color:#fafafa;position:sticky;top:0;">
                                      <tr>
                                          <th scope="col" colspan="2" style="width:30%">功能模块</th>
                                          <th scope="col" style="width:17.5%">
                                              <span class="table-icon bg-transparent"><i class="text-white"> </i></span>
                                              <p class="text-muted mb-1">开源版</p>
                                              <h4>-</h4>
                                          </th>
                                          <th scope="col" style="width:17.5%">
                                              <span class="table-icon"> 二开无忧</span>
                                              <p class="text-muted mb-1">授权版</p>
                                              <h5>¥ 199</h5>
                                          </th>
                                          <th scope="col" style="width:17.5%">
                                              <span class="table-icon">性价比最高</span>
                                              <p class="text-muted mb-1">企业版</p>
                                              <h5>¥ 2999</h5>
                                          </th>
                                          <th scope="col" style="width:17.5%">
                                              <span class="table-icon"> 高安全需求</span>
                                              <p class="text-muted mb-1">旗舰版</p>
                                              <h5>¥ 8999</h5>
                                          </th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td rowspan="10" class="bg-table" style="background-color:#EBF2F6;">IceCMS服务</td>
                                          <td>授权方式</td>
                                          <td>基于 GPL 开源协议授权。但是无法二开，包括无法修改任何的 html 和 css 文件等。</td>
                                          <td>源码同开源版一致，但是可以进行二次开发不用担心版权问题，可以把后台的版权信息修改为自己的信息等。</td>
                                          <td>基于商业合同授权，不用担心侵权</td>
                                          <td>基于商业合同授权，不用担心侵权</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">源码</td>
                                          <td>开源</td>
                                          <td>开源</td>
                                          <td>全部源码</td>
                                          <td>全部源码</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">授权域名</td>
                                          <td>-</td>
                                          <td>1个域名，及其子域名</td>
                                          <td>3个域名，及其子域名</td>
                                          <td>无域名数量限制</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">服务方式</td>
                                          <td>开源社区</td>
                                          <td>独立微信群 + 技术工程师</td>
                                          <td>独立微信群 + 技术架构师</td>
                                          <td>独立微信群 + 高级架构师</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">服务周期</td>
                                          <td>-</td>
                                          <td>3个月</td>
                                          <td>1年</td>
                                          <td>1年</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">等保测评</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅ 二级等保</td>
                                          <td>✅ 三级等保</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">信创兼容</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">集群部署</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">前台和后台分离部署</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">分布式缓存</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                      </tr>
                                 
                                      <tr>
                                          <td rowspan="11" class="bg-table">安全加固</td>
                                          <td class="text-left">前端登录对密码进行非对称数据加密，防止中间网络窃取</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                      </tr>
          
                                      <tr>
                                          <td class="text-left">IP 登录密码错误次数限制，冻结某个 IP 登录时间</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">密码失效时长配置，失效后续重新设置新的密码</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">账号登录密码次数错误，冻结时间设置 </td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">用户登录成功后，在登录成功页面会显示当前登录的时间、IP地址、浏览器等信息，以及上一次登录的时间，IP地址和浏览器信息。</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">用户登录 IP 地址/操作系统、硬件设备，网络状况等安全数据记录</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">后台允许登录时间配置 </td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">后台允许登录的 IP 白名单配置</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">密码设置的加固配置，不允许设置 123456、abcdef 等等简单密码</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">登录后，闲置固定时间（可配置）自动退出</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">密码设置时，对简单密码，与旧密码相同等不让设置</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                      </tr>
          
                                      <tr>
                                          <td rowspan="4" class="bg-table" style="background-color:#EBF2F6;">附件模块</td>
                                          <td class="text-left">基本功能：附件的上传、查看、删除等功能</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                          <td>✅</td>
          
                                      </tr>
                                      <tr>
                                          <td class="text-left">附件后缀白名单功能</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">附件上传  IP 地址、地理位置、浏览器、硬件设备、的记录功能</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">视频功能：支持阿里云/腾讯云的的直播、点播等功能</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                      </tr>
          
          
                                      <tr>
                                          <td rowspan="4" class="bg-table">流程模块</td>
                                          <td class="text-left">待办事项</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                          <td>✅</td>
          
                                      </tr>
                                      <tr>
                                          <td class="text-left">我的已办</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">流程管理</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">可视化流程设计</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                      </tr>
          
                                      <tr>
                                          <td class="bg-table" style="background-color:#EBF2F6;">模板和插件</td>
                                          <td class="text-left">模板和插件的安装，配置等功能</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                      </tr>
          
                                      <tr>
                                          <td rowspan="2" class="bg-table">多站点和多语言</td>
                                          <td class="text-left">基础功能：多站点的创建、删除等基础功能</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                          <td>✅</td>
          
                                      </tr>
                                      <tr>
                                          <td class="text-left">站点和部门绑定，不同的部门管理不同的站点</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                      </tr>
          
                                      <tr>
                                          <td rowspan="3" class="bg-table" style="background-color:#EBF2F6;">用户模块</td>
                                          <td class="text-left">基本功能：用户的增删改查和密码设置等功能</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                          <td>✅</td>
          
                                      </tr>
                                      <tr>
                                          <td class="text-left">普通账号密码登录和手机登录</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left">SSO 单点登录，整合其他系统用户登录</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                      </tr>
          
                                      <tr>
                                          <td rowspan="2" class="bg-table">统计模块</td>
                                          <td class="text-left">文章访问统计</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                          <td>✅</td>
          
                                      </tr>
                                      <tr>
                                          <td class="text-left">页面访问统计</td>
                                          <td>❌</td>
                                          <td>❌</td>
                                          <td>✅</td>
                                          <td>✅</td>
                                      </tr>
          
          
                                      <tr class="text-left price-note">
                                          <td colspan="6" class="bg-table">
                                              <div class="p-3">
                                                  <p class="mb-3">服务价格（注：所有服务不含硬件相关费用，不含差旅费用。）</p>
                                                  <p>以下情况不属于服务范围：</p>
                                                  <p>1、自行修改或使用非原始IceCMS企业版程序代码产生的问题；</p>
                                                  <p>2、自行对数据库进行直接操作导致数据库出错或者崩溃；</p>
                                                  <p>3、非官方的模块/插件的安装以及由于安装模块/插件造成的故障；</p>
                                                  <p>4、服务器、虚拟主机原因造成的系统故障；</p>
                                                  <p>5、二次开发或定制及其他可能产生问题的情况。</p>
                                              </div>
                                          </td>
                                      </tr>
                                  
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                 
                <section>
                  <div class="max-w-6xl mx-auto px-4 sm:px-6">
                    <div class="py-12 md:py-20 border-t border-gray-200">
                      <div class="max-w-3xl mx-auto text-center pb-20">
                        <h2 class="h2">常见问题</h2>
                      </div>
                      <ul class="max-w-3xl mx-auto pl-12">
                        <li><button class="flex items-center w-full text-lg font-medium text-left py-5 border-t border-gray-200"
                            aria-expanded="false" style="outline: none;"><svg
                              class="w-4 h-4 fill-current text-blue-500 flex-shrink-0 mr-8 -ml-12" viewBox="0 0 16 16"
                              xmlns="http://www.w3.org/2000/svg">
                              <rect y="7" width="16" height="2" rx="1"
                                class="transform origin-center transition duration-200 ease-out"></rect>
                              <rect y="7" width="16" height="2" rx="1"
                                class="transform origin-center rotate-90 transition duration-200 ease-out"></rect>
                            </svg><span>授权是否是永久的？</span></button>
                          <div class="text-gray-600 overflow-hidden transition-all duration-300 ease-in-out"
                            >
                            <p class="pb-5"> 是的，永久授权，买断制，就算以后出 V5、V6 您也不用再次付费。 </p>
                          </div>
                        </li>
                        <li><button class="flex items-center w-full text-lg font-medium text-left py-5 border-t border-gray-200"
                            aria-expanded="false" style="outline: none;"><svg
                              class="w-4 h-4 fill-current text-blue-500 flex-shrink-0 mr-8 -ml-12" viewBox="0 0 16 16"
                              xmlns="http://www.w3.org/2000/svg">
                              <rect y="7" width="16" height="2" rx="1"
                                class="transform origin-center transition duration-200 ease-out"></rect>
                              <rect y="7" width="16" height="2" rx="1"
                                class="transform origin-center rotate-90 transition duration-200 ease-out"></rect>
                            </svg><span>商用授权如何保障？</span></button>
                          <div class="text-gray-600 overflow-hidden transition-all duration-300 ease-in-out"
                             >
                            IceCMS官方提供的付费软件享有版权保障，您可放心商用； 购买付费版软件后，我们将为您签订授权合同，提供商用授权书，保障您的商用权益；
                          </div>
                        </li>
                        <li><button class="flex items-center w-full text-lg font-medium text-left py-5 border-t border-gray-200"
                            aria-expanded="false" style="outline: none;"><svg
                              class="w-4 h-4 fill-current text-blue-500 flex-shrink-0 mr-8 -ml-12" viewBox="0 0 16 16"
                              xmlns="http://www.w3.org/2000/svg">
                              <rect y="7" width="16" height="2" rx="1"
                                class="transform origin-center transition duration-200 ease-out"></rect>
                              <rect y="7" width="16" height="2" rx="1"
                                class="transform origin-center rotate-90 transition duration-200 ease-out"></rect>
                            </svg><span>购买 IceCMS 付费版本后是否可以退货退款</span></button>
                          <div class="text-gray-600 overflow-hidden transition-all duration-300 ease-in-out"
                             >
                            <p class="pb-5"> IceCMS提供的付费版本属于虚拟产品，请你在购买前确认服务内容、功能和条款，一经购买后不支持退货和退款，请您谅解。 </p>
                          </div>
                        </li>
                        <li><button class="flex items-center w-full text-lg font-medium text-left py-5 border-t border-gray-200"
                            aria-expanded="false" style="outline: none;"><svg
                              class="w-4 h-4 fill-current text-blue-500 flex-shrink-0 mr-8 -ml-12" viewBox="0 0 16 16"
                              xmlns="http://www.w3.org/2000/svg">
                              <rect y="7" width="16" height="2" rx="1"
                                class="transform origin-center transition duration-200 ease-out"></rect>
                              <rect y="7" width="16" height="2" rx="1"
                                class="transform origin-center rotate-90 transition duration-200 ease-out"></rect>
                            </svg><span>服务到期后，如何获取获取最新源码？</span></button>
                          <div class="text-gray-600 overflow-hidden transition-all duration-300 ease-in-out"
                             >
                            <p class="pb-5"> 服务到期后，须每年支付合同金额的15%，即可在当年正常获取最新付费软件源码和服务。 </p>
                          </div>
                        </li>
                        <li><button class="flex items-center w-full text-lg font-medium text-left py-5 border-t border-gray-200"
                            aria-expanded="false" style="outline: none;"><svg
                              class="w-4 h-4 fill-current text-blue-500 flex-shrink-0 mr-8 -ml-12" viewBox="0 0 16 16"
                              xmlns="http://www.w3.org/2000/svg">
                              <rect y="7" width="16" height="2" rx="1"
                                class="transform origin-center transition duration-200 ease-out"></rect>
                              <rect y="7" width="16" height="2" rx="1"
                                class="transform origin-center rotate-90 transition duration-200 ease-out"></rect>
                            </svg><span>IceCMS 是否可以商用？</span></button>
                          <div class="text-gray-600 overflow-hidden transition-all duration-300 ease-in-out"
                             >
                            <p class="pb-5"> 当然，付费版本只要您不删除 IceCMS 相关 logo 或标志，无需向我申请。但绝对不允许用来做赌博、诈骗、木马、病毒等违法规范行为。 </p>
                          </div>
                        </li>
                        <li><button class="flex items-center w-full text-lg font-medium text-left py-5 border-t border-gray-200"
                            aria-expanded="false" style="outline: none;"><svg
                              class="w-4 h-4 fill-current text-blue-500 flex-shrink-0 mr-8 -ml-12" viewBox="0 0 16 16"
                              xmlns="http://www.w3.org/2000/svg">
                              <rect y="7" width="16" height="2" rx="1"
                                class="transform origin-center transition duration-200 ease-out"></rect>
                              <rect y="7" width="16" height="2" rx="1"
                                class="transform origin-center rotate-90 transition duration-200 ease-out"></rect>
                            </svg><span>购买捐赠版后是否支持退款？</span></button>
                          <div class="text-gray-600 overflow-hidden transition-all duration-300 ease-in-out"
                             >
                            <p class="pb-5"> 理论上不支持退款，如有特殊需求，可申请退款，但要扣除支付平台的手续费，约 3%。（购买超出 14 天后不再支持退款。） </p>
                          </div>
                        </li><span class="block border-t border-gray-200" aria-hidden="true"></span>
                      </ul>
                    </div>
                  </div>
                </section>
                <section>
                  <div class="max-w-6xl mx-auto px-4 sm:px-6">
                    <div class="pb-12 md:pb-20">
                      <div class="bg-blue-600 rounded py-10 px-8 md:py-16 md:px-12 shadow-2xl aos-init" data-aos="zoom-y-out">
                        <div class="flex flex-col lg:flex-row justify-between items-center">
                          <div class="mb-6 lg:mr-16 lg:mb-0 text-center lg:text-left">
                            <h3 class="h3 text-white mb-2">觉得怎么样？</h3>
                            <p class="text-white text-lg opacity-75">如果想要购买的话，点击右侧按钮跳转至购买页面。</p>
                          </div>
                          <div><a href="https://www.IceCMS.vip/signup"
                              class="btn text-blue-600 bg-gradient-to-r from-blue-100 to-white" style="outline: none;">购买授权</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </main>
              <!-- <footer>
                <div class="max-w-6xl mx-auto px-4 sm:px-6 bg-white">
                  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8 border-t border-gray-200">
                    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
                      <div class="px-5 py-2"><a href="https://zhaojun.vip/" class="text-base text-gray-500 hover:text-gray-900"
                          style="outline: none;">博客</a></div>
                      <div class="px-5 py-2"><a href="https://docs.IceCMS.vip/"
                          class="text-base text-gray-500 hover:text-gray-900" style="outline: none;">文档</a></div>
                      <div class="px-5 py-2"><a href="https://bbs.IceCMS.vip/"
                          class="text-base text-gray-500 hover:text-gray-900" style="outline: none;">社区</a></div>
                      <div class="px-5 py-2"><a href="https://demo.IceCMS.vip/"
                          class="text-base text-gray-500 hover:text-gray-900" style="outline: none;">演示</a></div>
                      <div class="px-5 py-2"><a href="https://github.com/zhaojun1998/IceCMS"
                          class="text-base text-gray-500 hover:text-gray-900" style="outline: none;">Github</a></div>
                    </nav>
                    <div class="mt-8 flex justify-center space-x-6"><a target="_blank"
                        href="https://wpa.qq.com/msgrd?v=3&amp;uin=873019219&amp;site=qq&amp;menu=yes&amp;jumpflag=1"
                        class="text-gray-400 hover:text-gray-500" style="outline: none;"><span class="sr-only">QQ</span><img
                          alt="qq" src="/static/price/qq.532d6295.svg" class="h-6 w-6"></a><a target="_blank"
                        href="mailto:873019219@qq.com" class="text-gray-400 hover:text-gray-500" style="outline: none;"><span
                          class="sr-only">Email</span><img alt="email" src="/static/price/email.13ec6a3c.svg" class="h-6 w-6"></a><a
                        target="_blank" href="https://github.com/zhaojun1998/IceCMS" class="text-gray-400 hover:text-gray-500"
                        style="outline: none;"><span class="sr-only">Github</span><img alt="github"
                          src="/static/price/github.22601200.svg" class="h-6 w-6"></a></div>
                    <p class="mt-8 text-center text-base text-gray-400">© 2022 IceCMS, Inc. All rights reserved. | <a
                        href="https://beian.miit.gov.cn/" class="text-blue-500" target="_blank"
                        style="outline: none;">冀ICP备17004571号-4</a></p>
                  </div>
                </div>
              </footer> -->
            </div>
          </div>
       
    </div>

</div>
{{template "widgets/footer.html" .}}
</body>
</html>