@charset "UTF-8";
:root {
    --el-color-primary-rgb: 64, 158, 255;
    --el-color-success-rgb: 103, 194, 58;
    --el-color-warning-rgb: 230, 162, 60;
    --el-color-danger-rgb: 245, 108, 108;
    --el-color-error-rgb: 245, 108, 108;
    --el-color-info-rgb: 144, 147, 153;
    --el-font-size-extra-large: 20px;
    --el-font-size-large: 18px;
    --el-font-size-medium: 16px;
    --el-font-size-base: 14px;
    --el-font-size-small: 13px;
    --el-font-size-extra-small: 12px;
    --el-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
    --el-font-weight-primary: 500;
    --el-font-line-height-primary: 24px;
    --el-index-normal: 1;
    --el-index-top: 1000;
    --el-index-popper: 2000;
    --el-border-radius-base: 4px;
    --el-border-radius-small: 2px;
    --el-border-radius-round: 20px;
    --el-border-radius-circle: 100%;
    --el-transition-duration: .3s;
    --el-transition-duration-fast: .2s;
    --el-transition-function-ease-in-out-bezier: cubic-bezier(.645, .045, .355, 1);
    --el-transition-function-fast-bezier: cubic-bezier(.23, 1, .32, 1);
    --el-transition-all: all var(--el-transition-duration) var(--el-transition-function-ease-in-out-bezier);
    --el-transition-fade: opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
    --el-transition-md-fade: transform var(--el-transition-duration) var(--el-transition-function-fast-bezier), opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
    --el-transition-fade-linear: opacity var(--el-transition-duration-fast) linear;
    --el-transition-border: border-color var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
    --el-transition-box-shadow: box-shadow var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
    --el-transition-color: color var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
    --el-component-size-large: 40px;
    --el-component-size: 32px;
    --el-component-size-small: 24px;
    color-scheme: light;
    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-color-primary: #409eff;
    --el-color-primary-light-3: #79bbff;
    --el-color-primary-light-5: #a0cfff;
    --el-color-primary-light-7: #c6e2ff;
    --el-color-primary-light-8: #d9ecff;
    --el-color-primary-light-9: #ecf5ff;
    --el-color-primary-dark-2: #337ecc;
    --el-color-success: #67c23a;
    --el-color-success-light-3: #95d475;
    --el-color-success-light-5: #b3e19d;
    --el-color-success-light-7: #d1edc4;
    --el-color-success-light-8: #e1f3d8;
    --el-color-success-light-9: #f0f9eb;
    --el-color-success-dark-2: #529b2e;
    --el-color-warning: #e6a23c;
    --el-color-warning-light-3: #eebe77;
    --el-color-warning-light-5: #f3d19e;
    --el-color-warning-light-7: #f8e3c5;
    --el-color-warning-light-8: #faecd8;
    --el-color-warning-light-9: #fdf6ec;
    --el-color-warning-dark-2: #b88230;
    --el-color-danger: #f56c6c;
    --el-color-danger-light-3: #f89898;
    --el-color-danger-light-5: #fab6b6;
    --el-color-danger-light-7: #fcd3d3;
    --el-color-danger-light-8: #fde2e2;
    --el-color-danger-light-9: #fef0f0;
    --el-color-danger-dark-2: #c45656;
    --el-color-error: #f56c6c;
    --el-color-error-light-3: #f89898;
    --el-color-error-light-5: #fab6b6;
    --el-color-error-light-7: #fcd3d3;
    --el-color-error-light-8: #fde2e2;
    --el-color-error-light-9: #fef0f0;
    --el-color-error-dark-2: #c45656;
    --el-color-info: #909399;
    --el-color-info-light-3: #b1b3b8;
    --el-color-info-light-5: #c8c9cc;
    --el-color-info-light-7: #dedfe0;
    --el-color-info-light-8: #e9e9eb;
    --el-color-info-light-9: #f4f4f5;
    --el-color-info-dark-2: #73767a;
    --el-bg-color: #ffffff;
    --el-bg-color-page: #f2f3f5;
    --el-bg-color-overlay: #ffffff;
    --el-text-color-primary: #303133;
    --el-text-color-regular: #606266;
    --el-text-color-secondary: #909399;
    --el-text-color-placeholder: #a8abb2;
    --el-text-color-disabled: #c0c4cc;
    --el-border-color: #dcdfe6;
    --el-border-color-light: #e4e7ed;
    --el-border-color-lighter: #ebeef5;
    --el-border-color-extra-light: #f2f6fc;
    --el-border-color-dark: #d4d7de;
    --el-border-color-darker: #cdd0d6;
    --el-fill-color: #f0f2f5;
    --el-fill-color-light: #f5f7fa;
    --el-fill-color-lighter: #fafafa;
    --el-fill-color-extra-light: #fafcff;
    --el-fill-color-dark: #ebedf0;
    --el-fill-color-darker: #e6e8eb;
    --el-fill-color-blank: #ffffff;
    --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);
    --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, .12);
    --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .08), 0px 12px 32px rgba(0, 0, 0, .12), 0px 8px 16px -8px rgba(0, 0, 0, .16);
    --el-disabled-bg-color: var(--el-fill-color-light);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);
    --el-overlay-color: rgba(0, 0, 0, .8);
    --el-overlay-color-light: rgba(0, 0, 0, .7);
    --el-overlay-color-lighter: rgba(0, 0, 0, .5);
    --el-mask-color: rgba(255, 255, 255, .9);
    --el-mask-color-extra-light: rgba(255, 255, 255, .3);
    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
    --el-svg-monochrome-grey:var(--el-border-color)
}

.el-button:focus-visible {
    outline: 2px solid var(--el-button-outline-color);
    outline-offset:1px
}

.el-button.is-text:not(.is-disabled):focus-visible {
    outline: 2px solid var(--el-button-outline-color);
    outline-offset:1px
}

.el-checkbox input:focus-visible + .el-checkbox__inner {
    outline: 2px solid var(--el-checkbox-input-border-color-hover);
    outline-offset: 1px;
    border-radius:var(--el-checkbox-border-radius)
}

.el-checkbox__input.is-focus:not(.is-checked) .el-checkbox__original:not(:focus-visible) {
    border-color:var(--el-checkbox-input-border-color-hover)
}

.el-radio__original:focus-visible + .el-radio__inner {
    outline: 2px solid var(--el-radio-input-border-color-hover);
    outline-offset: 1px;
    border-radius:var(--el-radio-input-border-radius)
}

.el-radio:focus:not(:focus-visible):not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner {
    box-shadow:0 0 2px 2px var(--el-radio-input-border-color-hover)
}

.el-input::-webkit-scrollbar:horizontal {
    height:6px
}

:before, :after {
    --tw-content: ""
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji"
}

body {
    margin: 0;
    line-height:inherit
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration:underline dotted
}

a {
    color: inherit;
    text-decoration:inherit
}

small {
    font-size:80%
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse:collapse
}

button, input {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding:0
}

button {
    text-transform:none
}

button, [type=button] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image:none
}

:-moz-focusring {
    outline:auto
}

:-moz-ui-invalid {
    box-shadow:none
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height:auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset:-2px
}

::-webkit-search-decoration {
    -webkit-appearance:none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font:inherit
}

h1, h2, h3, h4, h5, h6, p {
    margin:0
}

ul {
    list-style: none;
    margin: 0;
    padding:0
}

input::-moz-placeholder {
    opacity: 1;
    color:#999
}

button {
    cursor:pointer
}

:disabled {
    cursor:default
}

img {
    max-width: 100%;
    height:auto
}

*, :before, :after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:;
    --tw-pan-y:;
    --tw-pinch-zoom:;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:;
    --tw-slashed-zero:;
    --tw-numeric-figure:;
    --tw-numeric-spacing:;
    --tw-numeric-fraction:;
    --tw-ring-inset:;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(51 140 245 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:;
    --tw-brightness:;
    --tw-contrast:;
    --tw-grayscale:;
    --tw-hue-rotate:;
    --tw-invert:;
    --tw-saturate:;
    --tw-sepia:;
    --tw-drop-shadow:;
    --tw-backdrop-blur:;
    --tw-backdrop-brightness:;
    --tw-backdrop-contrast:;
    --tw-backdrop-grayscale:;
    --tw-backdrop-hue-rotate:;
    --tw-backdrop-invert:;
    --tw-backdrop-opacity:;
    --tw-backdrop-saturate:;
    --tw-backdrop-sepia:
}

::-webkit-backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:;
    --tw-pan-y:;
    --tw-pinch-zoom:;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:;
    --tw-slashed-zero:;
    --tw-numeric-figure:;
    --tw-numeric-spacing:;
    --tw-numeric-fraction:;
    --tw-ring-inset:;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(51 140 245 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:;
    --tw-brightness:;
    --tw-contrast:;
    --tw-grayscale:;
    --tw-hue-rotate:;
    --tw-invert:;
    --tw-saturate:;
    --tw-sepia:;
    --tw-drop-shadow:;
    --tw-backdrop-blur:;
    --tw-backdrop-brightness:;
    --tw-backdrop-contrast:;
    --tw-backdrop-grayscale:;
    --tw-backdrop-hue-rotate:;
    --tw-backdrop-invert:;
    --tw-backdrop-opacity:;
    --tw-backdrop-saturate:;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:;
    --tw-pan-y:;
    --tw-pinch-zoom:;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:;
    --tw-slashed-zero:;
    --tw-numeric-figure:;
    --tw-numeric-spacing:;
    --tw-numeric-fraction:;
    --tw-ring-inset:;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(51 140 245 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:;
    --tw-brightness:;
    --tw-contrast:;
    --tw-grayscale:;
    --tw-hue-rotate:;
    --tw-invert:;
    --tw-saturate:;
    --tw-sepia:;
    --tw-drop-shadow:;
    --tw-backdrop-blur:;
    --tw-backdrop-brightness:;
    --tw-backdrop-contrast:;
    --tw-backdrop-grayscale:;
    --tw-backdrop-hue-rotate:;
    --tw-backdrop-invert:;
    --tw-backdrop-opacity:;
    --tw-backdrop-saturate:;
    --tw-backdrop-sepia:
}

.h1 {
    font-size: 2.625rem;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing:-.02em
}

.h2 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing:-.02em
}

.h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height:1.25
}

@media (min-width: 768px) {
    .h1 {
        font-size:4.25rem
    }

    .h2 {
        font-size:2.625rem
    }
}

.btn, .btn-sm {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    border-color: transparent;
    font-weight: 500;
    line-height: 1.375;
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-duration: .15s;
    transition-timing-function:cubic-bezier(.4, 0, .2, 1)
}

.btn {
    padding: .75rem 2rem;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .04), 0 4px 6px -2px rgba(0, 0, 0, .02);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -2px var(--tw-shadow-color);
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.btn-sm {
    padding: .5rem 1rem;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

html {
    scroll-behavior:smooth
}

:focus, button:focus, .btn:focus, .btn-sm:focus {
    outline:2px solid rgba(0, 112, 244, .5)
}

[data-aos=zoom-y-out] {
    transform: scaleX(1.03);
    opacity: 0;
    transition-property:transform, opacity
}

.absolute {
    position:absolute
}

.relative {
    position:relative
}

.right-0 {
    right:0px
}

.top-0 {
    top:0px
}

.mx-auto {
    margin-left: auto;
    margin-right:auto
}

.mb-2 {
    margin-bottom:.5rem
}

.mb-4 {
    margin-bottom:1rem
}

.mb-1 {
    margin-bottom:.25rem
}

.mt-6 {
    margin-top:1.5rem
}

.mr-3 {
    margin-right:.75rem
}

.mb-6 {
    margin-bottom:1.5rem
}

.mb-3 {
    margin-bottom:.75rem
}

.-mb-2 {
    margin-bottom:-.5rem
}

.mr-5 {
    margin-right:1.25rem
}

.-mt-5 {
    margin-top:-1.25rem
}

.mr-8 {
    margin-right:2rem
}

.-ml-12 {
    margin-left:-3rem
}

.block {
    display:block
}

.flex {
    display:flex
}

.inline-flex {
    display:inline-flex
}

.table {
    display:table
}

.grid {
    display:grid
}

.h-full {
    height:100%
}

.h-3 {
    height:.75rem
}

.h-4 {
    height:1rem
}

.min-h-screen {
    min-height:100vh
}

.w-full {
    width:100%
}

.w-3 {
    width:.75rem
}

.w-4 {
    width:1rem
}

.max-w-6xl {
    max-width:72rem
}

.max-w-3xl {
    max-width:48rem
}

.max-w-sm {
    max-width:24rem
}

.flex-shrink-0 {
    flex-shrink:0
}

.flex-grow {
    flex-grow:1
}

.origin-center {
    transform-origin:center
}

.rotate-90 {
    --tw-rotate: 90deg;
    transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
    transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.flex-col {
    flex-direction:column
}

.items-start {
    align-items:flex-start
}

.items-center {
    align-items:center
}

.items-baseline {
    align-items:baseline
}

.justify-between {
    justify-content:space-between
}

.gap-8 {
    gap:2rem
}

.overflow-hidden {
    overflow:hidden
}

.rounded-full {
    border-radius:9999px
}

.rounded {
    border-radius:.25rem
}

.border-t {
    border-top-width:1px
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color:rgb(234 234 234 / var(--tw-border-opacity))
}

.border-blue-500 {
    --tw-border-opacity: 1;
    border-color:rgb(51 140 245 / var(--tw-border-opacity))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color:rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color:rgb(0 112 244 / var(--tw-bg-opacity))
}

.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color:rgb(230 240 253 / var(--tw-bg-opacity))
}

.bg-yellow-500 {
    --tw-bg-opacity: 1;
    background-color:rgb(234 179 8 / var(--tw-bg-opacity))
}

.bg-gradient-to-b {
    background-image:linear-gradient(to bottom, var(--tw-gradient-stops))
}

.bg-gradient-to-r {
    background-image:linear-gradient(to right, var(--tw-gradient-stops))
}

.from-blue-100 {
    --tw-gradient-from: #E6F0FD;
    --tw-gradient-to: rgb(230 240 253 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-white {
    --tw-gradient-from: #fff;
    --tw-gradient-to: rgb(255 255 255 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.to-white {
    --tw-gradient-to: #fff
}

.to-gray-100 {
    --tw-gradient-to: #FBFBFB
}

.fill-current {
    fill:currentColor
}

.p-3 {
    padding:.75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right:1rem
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom:2.5rem
}

.px-8 {
    padding-left: 2rem;
    padding-right:2rem
}

.py-12 {
    padding-top: 3rem;
    padding-bottom:3rem
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom:1.25rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right:1.5rem
}

.pb-20 {
    padding-bottom:5rem
}

.pt-32 {
    padding-top:8rem
}

.pb-12 {
    padding-bottom:3rem
}

.pt-5 {
    padding-top:1.25rem
}

.pl-12 {
    padding-left:3rem
}

.pl-2 {
    padding-left:.5rem
}

.pb-5 {
    padding-bottom:1.25rem
}

.text-left {
    text-align:left
}

.text-center {
    text-align: center;
}

.text-base {
    font-size:1rem
}

.text-xl {
    font-size:2.05rem
}

.text-4xl {
    font-size:2.625rem
}

.text-lg {
    font-size:1.925rem
}

.text-3xl {
    font-size:2rem
}

.font-medium {
    font-weight:500
}

.font-bold {
    font-weight:700
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color:rgb(127 127 127 / var(--tw-text-opacity))
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color:rgb(102 102 102 / var(--tw-text-opacity))
}

.text-gray-6001 {
    --tw-text-opacity: 1;
    color:rgb(102 102 102 / var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color:rgb(255 255 255 / var(--tw-text-opacity))
}

.text-blue-600 {
    --tw-text-opacity: 1;
    color:rgb(0 112 244 / var(--tw-text-opacity))
}

.text-green-500 {
    --tw-text-opacity: 1;
    color:rgb(34 197 94 / var(--tw-text-opacity))
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color:rgb(51 140 245 / var(--tw-text-opacity))
}

.opacity-75 {
    opacity:.75
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, .12), 0 10px 10px -5px rgba(0, 0, 0, .02);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 10px 10px -5px var(--tw-shadow-color);
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, .15);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.transition {
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration:.15s
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration:.15s
}

.duration-200 {
    transition-duration:.2s
}

.duration-300 {
    transition-duration:.3s
}

.ease-out {
    transition-timing-function:cubic-bezier(0, 0, .2, 1)
}

.ease-in-out {
    transition-timing-function:cubic-bezier(.4, 0, .2, 1)
}

[data-aos][data-aos][data-aos-delay="150"] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="150"].aos-animate {
    transition-delay: .15s
}

[data-aos][data-aos][data-aos-delay="450"] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="450"].aos-animate {
    transition-delay: .45s
}

[data-aos] {
    pointer-events:none
}

[data-aos].aos-animate {
    pointer-events:auto
}

@media screen {

    html:not(.no-js) [data-aos^=zoom][data-aos^=zoom] {
        opacity: 0;
        transition-property:opacity, transform
    }

    html:not(.no-js) [data-aos^=zoom][data-aos^=zoom].aos-animate {
        opacity: 1;
        transform:translateZ(0) scale(1)
    }
}

.hover\:bg-blue-700:hover {
    --tw-bg-opacity: 1;
    background-color:rgb(0 100 218 / var(--tw-bg-opacity))
}

@media (min-width: 640px) {

    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right:1.5rem
    }
}

@media (min-width: 768px) {

    .md\:max-w-2xl {
        max-width:42rem
    }

    .md\:grid-cols-1 {
        grid-template-columns:repeat(1, minmax(0, 1fr))
    }

    .md\:py-16 {
        padding-top: 4rem;
        padding-bottom:4rem
    }

    .md\:px-12 {
        padding-left: 3rem;
        padding-right:3rem
    }

    .md\:py-20 {
        padding-top: 5rem;
        padding-bottom:5rem
    }

    .md\:pt-40 {
        padding-top:10rem
    }

    .md\:pb-20 {
        padding-bottom:5rem
    }
}

@media (min-width: 1024px) {

    .lg\:mr-16 {
        margin-right:4rem
    }

    .lg\:mb-0 {
        margin-bottom:0
    }

    .lg\:flex-row {
        flex-direction:row
    }

    .lg\:text-left {
        text-align:left
    }
}

@media (min-width: 1280px) {
    .xl\:max-w-none {
        max-width:none
    }

    .xl\:grid-cols-3 {
        grid-template-columns:repeat(3, minmax(0, 1fr))
    }

    .xl\:gap-6 {
        gap:1.5rem
    }
}

:root {
    --el-popup-modal-bg-color: var(--el-color-black);
    --el-popup-modal-opacity:.5
}

:root {
    --el-loading-spinner-size: 42px;
    --el-loading-fullscreen-spinner-size:50px
}

:root {
    --el-color-primary-rgb: 64, 158, 255;
    --el-color-success-rgb: 103, 194, 58;
    --el-color-warning-rgb: 230, 162, 60;
    --el-color-danger-rgb: 245, 108, 108;
    --el-color-error-rgb: 245, 108, 108;
    --el-color-info-rgb: 144, 147, 153;
    --el-font-size-extra-large: 20px;
    --el-font-size-large: 18px;
    --el-font-size-medium: 16px;
    --el-font-size-base: 14px;
    --el-font-size-small: 13px;
    --el-font-size-extra-small: 12px;
    --el-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
    --el-font-weight-primary: 500;
    --el-font-line-height-primary: 24px;
    --el-index-normal: 1;
    --el-index-top: 1000;
    --el-index-popper: 2000;
    --el-border-radius-base: 4px;
    --el-border-radius-small: 2px;
    --el-border-radius-round: 20px;
    --el-border-radius-circle: 100%;
    --el-transition-duration: .3s;
    --el-transition-duration-fast: .2s;
    --el-transition-function-ease-in-out-bezier: cubic-bezier(.645, .045, .355, 1);
    --el-transition-function-fast-bezier: cubic-bezier(.23, 1, .32, 1);
    --el-transition-all: all var(--el-transition-duration) var(--el-transition-function-ease-in-out-bezier);
    --el-transition-fade: opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
    --el-transition-md-fade: transform var(--el-transition-duration) var(--el-transition-function-fast-bezier), opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
    --el-transition-fade-linear: opacity var(--el-transition-duration-fast) linear;
    --el-transition-border: border-color var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
    --el-transition-box-shadow: box-shadow var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
    --el-transition-color: color var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
    --el-component-size-large: 40px;
    --el-component-size: 32px;
    --el-component-size-small: 24px;
    color-scheme: light;
    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-color-primary: #409eff;
    --el-color-primary-light-3: #79bbff;
    --el-color-primary-light-5: #a0cfff;
    --el-color-primary-light-7: #c6e2ff;
    --el-color-primary-light-8: #d9ecff;
    --el-color-primary-light-9: #ecf5ff;
    --el-color-primary-dark-2: #337ecc;
    --el-color-success: #67c23a;
    --el-color-success-light-3: #95d475;
    --el-color-success-light-5: #b3e19d;
    --el-color-success-light-7: #d1edc4;
    --el-color-success-light-8: #e1f3d8;
    --el-color-success-light-9: #f0f9eb;
    --el-color-success-dark-2: #529b2e;
    --el-color-warning: #e6a23c;
    --el-color-warning-light-3: #eebe77;
    --el-color-warning-light-5: #f3d19e;
    --el-color-warning-light-7: #f8e3c5;
    --el-color-warning-light-8: #faecd8;
    --el-color-warning-light-9: #fdf6ec;
    --el-color-warning-dark-2: #b88230;
    --el-color-danger: #f56c6c;
    --el-color-danger-light-3: #f89898;
    --el-color-danger-light-5: #fab6b6;
    --el-color-danger-light-7: #fcd3d3;
    --el-color-danger-light-8: #fde2e2;
    --el-color-danger-light-9: #fef0f0;
    --el-color-danger-dark-2: #c45656;
    --el-color-error: #f56c6c;
    --el-color-error-light-3: #f89898;
    --el-color-error-light-5: #fab6b6;
    --el-color-error-light-7: #fcd3d3;
    --el-color-error-light-8: #fde2e2;
    --el-color-error-light-9: #fef0f0;
    --el-color-error-dark-2: #c45656;
    --el-color-info: #909399;
    --el-color-info-light-3: #b1b3b8;
    --el-color-info-light-5: #c8c9cc;
    --el-color-info-light-7: #dedfe0;
    --el-color-info-light-8: #e9e9eb;
    --el-color-info-light-9: #f4f4f5;
    --el-color-info-dark-2: #73767a;
    --el-bg-color: #ffffff;
    --el-bg-color-page: #f2f3f5;
    --el-bg-color-overlay: #ffffff;
    --el-text-color-primary: #303133;
    --el-text-color-regular: #606266;
    --el-text-color-secondary: #909399;
    --el-text-color-placeholder: #a8abb2;
    --el-text-color-disabled: #c0c4cc;
    --el-border-color: #dcdfe6;
    --el-border-color-light: #e4e7ed;
    --el-border-color-lighter: #ebeef5;
    --el-border-color-extra-light: #f2f6fc;
    --el-border-color-dark: #d4d7de;
    --el-border-color-darker: #cdd0d6;
    --el-fill-color: #f0f2f5;
    --el-fill-color-light: #f5f7fa;
    --el-fill-color-lighter: #fafafa;
    --el-fill-color-extra-light: #fafcff;
    --el-fill-color-dark: #ebedf0;
    --el-fill-color-darker: #e6e8eb;
    --el-fill-color-blank: #ffffff;
    --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);
    --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, .12);
    --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .08), 0px 12px 32px rgba(0, 0, 0, .12), 0px 8px 16px -8px rgba(0, 0, 0, .16);
    --el-disabled-bg-color: var(--el-fill-color-light);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);
    --el-overlay-color: rgba(0, 0, 0, .8);
    --el-overlay-color-light: rgba(0, 0, 0, .7);
    --el-overlay-color-lighter: rgba(0, 0, 0, .5);
    --el-mask-color: rgba(255, 255, 255, .9);
    --el-mask-color-extra-light: rgba(255, 255, 255, .3);
    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
    --el-svg-monochrome-grey:var(--el-border-color)
}

.el-button:focus-visible {
    outline: 2px solid var(--el-button-outline-color);
    outline-offset:1px
}

.el-button.is-text:not(.is-disabled):focus-visible {
    outline: 2px solid var(--el-button-outline-color);
    outline-offset:1px
}

.el-checkbox input:focus-visible + .el-checkbox__inner {
    outline: 2px solid var(--el-checkbox-input-border-color-hover);
    outline-offset: 1px;
    border-radius:var(--el-checkbox-border-radius)
}

.el-checkbox__input.is-focus:not(.is-checked) .el-checkbox__original:not(:focus-visible) {
    border-color:var(--el-checkbox-input-border-color-hover)
}

.el-collapse-item__header.focusing:focus:not(:hover) {
    color:var(--el-color-primary)
}

.el-date-table td.current:not(.disabled):focus-visible .el-date-table-cell__text {
    outline: 2px solid var(--el-datepicker-active-color);
    outline-offset:1px
}

.el-month-table td:focus-visible {
    outline:0
}

.el-month-table td:focus-visible .cell {
    outline:2px solid var(--el-datepicker-active-color)
}

.el-year-table td:focus-visible {
    outline:0
}

.el-year-table td:focus-visible .cell {
    outline:2px solid var(--el-datepicker-active-color)
}

.el-picker-panel__icon-btn:focus-visible {
    color:var(--el-datepicker-hover-text-color)
}

.el-date-picker__header-label:focus-visible {
    outline: 0;
    color:var(--el-datepicker-hover-text-color)
}

:root {
    --el-popup-modal-bg-color: var(--el-color-black);
    --el-popup-modal-opacity:.5
}

.el-input::-webkit-scrollbar:horizontal {
    height:6px
}

:root {
    --el-loading-spinner-size: 42px;
    --el-loading-fullscreen-spinner-size:50px
}

:root {
    --el-menu-active-color: var(--el-color-primary);
    --el-menu-text-color: var(--el-text-color-primary);
    --el-menu-hover-text-color: var(--el-color-primary);
    --el-menu-bg-color: var(--el-fill-color-blank);
    --el-menu-hover-bg-color: var(--el-color-primary-light-9);
    --el-menu-item-height: 56px;
    --el-menu-sub-item-height: calc(var(--el-menu-item-height) - 6px);
    --el-menu-horizontal-sub-item-height: 36px;
    --el-menu-item-font-size: var(--el-font-size-base);
    --el-menu-item-hover-fill: var(--el-color-primary-light-9);
    --el-menu-border-color: var(--el-border-color);
    --el-menu-base-level-padding: 20px;
    --el-menu-level-padding: 20px;
    --el-menu-icon-width: 24px;
    --el-menu-icon-transform-closed: none;
    --el-menu-icon-transform-open:rotateZ(180deg)
}

.el-pagination .btn-next:focus-visible, .el-pagination .btn-prev:focus-visible {
    outline: 1px solid var(--el-pagination-hover-color);
    color:var(--el-pagination-hover-color)
}

.el-pager li.btn-quicknext:focus-visible, .el-pager li.btn-quickprev:focus-visible {
    outline: 1px solid var(--el-pagination-hover-color);
    color:var(--el-pagination-hover-color)
}

.el-pager li:focus-visible {
    outline:1px solid var(--el-pagination-hover-color)
}

.el-radio-button__original-radio:focus-visible + .el-radio-button__inner {
    border-left: var(--el-border);
    border-left-color: var(--el-radio-button-checked-border-color, var(--el-color-primary));
    outline: 2px solid var(--el-radio-button-checked-border-color);
    outline-offset: 1px;
    z-index: 2;
    border-radius: var(--el-border-radius-base);
    box-shadow:none
}

.el-radio__original:focus-visible + .el-radio__inner {
    outline: 2px solid var(--el-radio-input-border-color-hover);
    outline-offset: 1px;
    border-radius:var(--el-radio-input-border-radius)
}

.el-radio:focus:not(:focus-visible):not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner {
    box-shadow:0 0 2px 2px var(--el-radio-input-border-color-hover)
}

.el-switch__input:focus-visible ~ .el-switch__core {
    outline: 2px solid var(--el-switch-on-color);
    outline-offset:1px
}

.el-tabs__item:focus-visible {
    box-shadow: 0 0 2px 2px var(--el-color-primary) inset;
    border-radius:3px
}

.el-upload-list__item.is-success:focus:not(:hover) .el-icon--close-tip {
    display:inline-block
}

.quaection,
:before,
:after {
  border-width: 0;
}

@media screen and (max-width:820px){
    .nav{display:none; }
    }


.max-w-6xl {
    max-width: 6xl;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sm\:px-6 {
    @media (min-width: 640px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  .py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .md\:py-20 {
    @media (min-width: 768px) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  .border-t {
    border-top-width: 1px;
  }

  .border-gray-200 {
    border-color: #edf2f7;
  }

  .max-w-3xl {
    max-width: 3xl;
  }

  .text-center {
    text-align: center;
  }

  .pb-20 {
    padding-bottom: 5rem;
  }

  .h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }

  .max-w-3xl {
    max-width: 3xl;
  }

  .pl-12 {
    padding-left: 3rem;
  }

  .quaection {
    cursor: pointer;
  }

  .quaection svg {
    transition: transform 0.2s ease-out;
  }

  .quaection:hover svg {
    transform: rotate(90deg);
  }

  .text-gray-600 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .quaection:hover ~ .text-gray-600 {
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out;
  }