.maxwidth {
    padding: 45px;
}
.img-fluid {
	max-width:100%;
	height:auto
}
.jp-title {
    margin: 30px;
    padding: 15px 0;
    position: relative;
    /* width: 300px; */
    /* padding: 10px 0; */
    font-size: 24px;
    /* margin: 0 auto; */
    text-align: center;
    overflow: hidden;
    color: #3D3D3D;
    font-weight: 600;
}
.jp-title::before {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    height: 120%;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-animation: blink 1s ease-in 2s infinite;
    animation: blink 1s ease-in 2s infinite;
    }
.jp-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 40px;
    height: 3px;
    margin-left: -20px;
    background-color: #131313;
    }
.row1 {
	display:flex;
	flex-wrap:wrap;
	margin-right:-15px;
	margin-left:-15px
}
.col {
	position:relative;
	width:100%;
	padding-right:15px;
	padding-left:85px
}
.col {
	flex-basis:0;
	flex-grow:1;
	max-width:100%
}.table {
	width:100%;
	margin-bottom:1rem;
	color:#757575
}
.table th,.table td {
	padding:.75rem;
	vertical-align:top;
	border-top:1px solid #f1f2f3
}
.table thead th {
	vertical-align:bottom;
	border-bottom:2px solid #f1f2f3
}
.table-bordered {
	border:1px solid #f1f2f3
}
.table-bordered th,.table-bordered td {
	border:1px solid #f1f2f3
}
.table-bordered thead th {
	border-bottom-width:2px
}
.table-hover tbody tr:hover {
	color:#757575;
	background-color:#f9fafb
}
.table-responsive {
	display:block;
	width:100%;
	overflow-x:auto;
	-webkit-overflow-scrolling:touch
}
.was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label::before,.custom-control-input.is-valid:focus:not(:checked) ~ .custom-control-label::before {
	border-color:#3cd458
}
.was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before,.custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before {
	border-color:#ff4954
}
.btn {
	display:inline-block;
	font-weight:600;
	color:#757575;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-color:transparent;
	border:1px solid transparent;
	padding:.375rem .75rem;
	font-size:.9375rem;
	line-height:1.9;
	border-radius:.25rem;
	transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out
}
@media (prefers-reduced-motion:reduce) {
	.btn {
	transition:none
}
}.btn:hover {
	color:#757575;
	text-decoration:none
}
.btn:focus {
	outline:0;
	box-shadow:none
}
.btn:disabled {
	opacity:.65
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
	border-color:#f1f2f3
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
	color:#fff;
	background-color:#fafbfb;
	border-color:#fafbfb
}
.close:not(:disabled):not(.disabled):hover,.close:not(:disabled):not(.disabled):focus {
	opacity:.75
}
.bg-white {
	background-color:#fff !important
}
.bg-transparent {
	background-color:transparent !important
}.overflow-hidden {
	overflow:hidden !important
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
	}.mb-1 {
	margin-bottom:.25rem !important
}
.mb-3 {
	margin-bottom:.75rem !important
}
.p-3 {
	padding:.75rem !important
}
.text-left {
	text-align:left !important
}
.text-center {
	text-align:center !important
}
.text-white {
	color:#fff !important
}
.text-muted {
	color:#868e96 !important
}
@media print {
	*,*::before,*::after {
	text-shadow:none !important;
	box-shadow:none !important
}
a:not(.btn) {
	text-decoration:underline
}
thead {
	display:table-header-group
}
tr,img {
	page-break-inside:avoid
}
p,h2 {
	orphans:3;
	widows:3
}
h2 {
	page-break-after:avoid
}
@page {
	size:a3
}
body {
	min-width:992px !important
}
.container {
	min-width:992px !important
}
.table {
	border-collapse:collapse !important
}
.table td,.table th {
	background-color:#fff !important
}
.table-bordered th,.table-bordered td {
	border:1px solid #dee2e6 !important
}
}
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font:SIL OFL 1.1,CSS:MIT License)
 */@font-face {
	font-family:'FontAwesome';
	src:url("../fonts//fontawesome-webfont.eot?v=4.7.0");
	src:url("../fonts//fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),url("../fonts//fontawesome-webfont.woff2?v=4.7.0") format("woff2"),url("../fonts//fontawesome-webfont.woff?v=4.7.0") format("woff"),url("../fonts//fontawesome-webfont.ttf?v=4.7.0") format("truetype"),url("../fonts//fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'et-line';
	src:url("fonts/et-line.eot");
	src:url("fonts/et-line.eot?#iefix") format("embedded-opentype"),url("fonts/et-line.woff") format("woff"),url("fonts/et-line.ttf") format("truetype"),url("fonts/et-line.svg#et-line") format("svg");
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'et-line';
	src:url("../fonts/et-line.eot");
	src:url("../fonts/et-line.eot?#iefix") format("embedded-opentype"),url("../fonts/et-line.woff") format("woff"),url("../fonts/et-line.ttf") format("truetype"),url("../fonts/et-line.svg#et-line") format("svg");
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'themify';
	src:url("../fonts/themify.eot?-fvbane");
	src:url("../fonts/themify.eot?#iefix-fvbane") format("embedded-opentype"),url("../fonts/themify.woff?-fvbane") format("woff"),url("../fonts/themify.ttf?-fvbane") format("truetype"),url("../fonts/themify.svg?-fvbane#themify") format("svg");
	font-weight:normal;
	font-style:normal
}
/*! Lity - v2.3.1 - 2018-04-20
* http://sorgalla.com/lity/
* Copyright (c) 2015-2018 Jan Sorgalla;
	Licensed MIT *//*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license *//*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */a {
	color:#50a1ff;
	transition:.2s linear
}

::-moz-selection {
	background:#74b4ff;
	color:#fff
}
::selection {
	background:#74b4ff;
	color:#fff
}
::-moz-selection {
	background:#74b4ff;
	color:#fff
}
.table {
	border:1px solid #f1f2f3
}
.table th {
	border-top:0;
	font-weight:400
}
.table thead th {
	border-bottom:1px solid #eaeff4
}
.table-hover tbody tr {
	transition:background-color 0.2s linear
}
.btn {
	font-size:11px;
	padding:8px 26px 6px;
	letter-spacing:1.7px;
	text-transform:uppercase;
	border-radius:2px;
	outline:none;
	transition:0.15s linear
}
button:focus {
	outline:none
}
@media all and (-ms-high-contrast:none) {
	*::-ms-backdrop {
	display:block;
	padding-top:4rem
}
}
body {
	display:flex;
	flex-direction:column;
	min-height:100vh
}
.main-content {
	flex-grow:1
}
.overflow-hidden {
	overflow:hidden
}
.text-white {
	color:rgba(255,255,255,0.85) !important
}
